<div class="flex items-center justify-between gap-4 justify-center p-4 text-green-950 bg-emerald-400 uppercase text-xs font-bold border border-green-600 rounded my-2">
  <p>{new Date().toUTCString().slice(12, 16) + " | Haole Handyman LLC"}</p>
  <a
		href="https://pappas.sh"
		class="decoration shadow-lg rounded bg-emerald-700 text-emerald-100 p-1"
		target="_blank">
    ~p</a>
</div>