<div class="flex items-center gap-4 justify-center p-4 uppercase text-xs font-bold">
  <p class="decoration rounded text-emerald-100 p-1">{new Date().toUTCString().slice(12, 16) + " | Haole Handyman LLC"}</p>
</div>