---
import Navigation from "./Navigation.astro";
---
<div class="flex justify-between font-bold sm:text-3xl text-xl uppercase text-green-900">
  <p>Haole Handyman</p>
  <a href="tel:8087212823">808-721-2823</a>
</div>
<Navigation/>