---
import Navigation from "./Navigation.astro";
---
<div class="flex flex-row justify-between font-bold sm:text-3xl text-xl uppercase text-green-900">
  <p>Haole Handyman</p>
  <a href="tel:+8087214647">808-721-4647</a>
</div>
<Navigation/>