---
import {links} from "../links";
const {pathname} = Astro.url;
const isActive : string = 'border-b-4 border-green-800 rounded shadow-lg';
---
  <nav class="flex sm:flex-row flex-col gap-2 justify-center p-2 text-green-900 bg-green-200/90 rounded text-lg uppercase font-bold mb-2">
    {links.map(({path, title}) =>
      <a href={path} class={`${path === pathname && isActive} px-1`}>{title}
      </a>
    )}
  </nav>