---
import {links} from "../links";
---
  <nav class="flex gap-4 justify-center p-4 text-green-900 bg-green-200 border border-green-600 rounded mb-2">
    {links.map(({path, title}) =>
      <a href={path} class={`text-lg uppercase font-bold ${Astro.url.pathname === path && 'border-b-4 border-green-800'}`}>{title}
      </a> 
    )}
  </nav>